# proj directories
**/proj

# reference design
0_ccc-main/

# office files
*.docx
*.pptx

# vivado
*.dcp
*.wdb
*.log

/3_Betweenness/hls
/3_Betweenness/proj
/3_Betweenness/report
/3_Betweenness/kernel/*.py
/3_Betweenness/kernel/*.txt
/3_Betweenness/*.txt
/3_Betweenness/*.[c/h]pp
/3_Betweenness/*.sh
/3_Betweenness/*.tcl
/3_Betweenness/*.ini

