*.zip
*.wdb
*.dcp
*.xml
*.rpt
*.rpx
/.vscode
02-bloom/build/reduceHBM
02-bloom/build/doubleHBM
*/temp_dir/*
02-bloom/build/single_buffer/kernel_4/sw_emu/*
02-bloom/build/single_buffer/kernel_4/hw_emu/*
02-bloom/build/single_buffer/kernel_4/hw/*_dir/*

02-bloom/build/single_buffer/kernel_8/sw_emu/*
02-bloom/build/single_buffer/kernel_8/hw_emu/*
02-bloom/build/single_buffer/kernel_8/hw/*_dir/*

02-bloom/build/single_buffer/kernel_16/sw_emu/*
02-bloom/build/single_buffer/kernel_16/hw_emu/*
02-bloom/build/single_buffer/kernel_16/hw/*_dir/*

02-bloom/build/split_buffer/kernel_4/sw_emu/*
02-bloom/build/split_buffer/kernel_4/hw_emu/*
02-bloom/build/split_buffer/kernel_4/hw/*_dir/*

02-bloom/build/split_buffer/kernel_8/sw_emu/*
02-bloom/build/split_buffer/kernel_8/hw_emu/*
02-bloom/build/split_buffer/kernel_8/hw/*_dir/*

02-bloom/build/split_buffer/kernel_16/sw_emu/*
02-bloom/build/split_buffer/kernel_16/hw_emu/*
02-bloom/build/split_buffer/kernel_16/hw/*_dir/*

02-bloom/build/generic_buffer/kernel_4/sw_emu/*
02-bloom/build/generic_buffer/kernel_4/hw_emu/*
02-bloom/build/generic_buffer/kernel_4/hw/*_dir/*

02-bloom/build/generic_buffer/kernel_8/sw_emu/*
02-bloom/build/generic_buffer/kernel_8/hw_emu/*
02-bloom/build/generic_buffer/kernel_8/hw/*_dir/*

02-bloom/build/generic_buffer/kernel_16/sw_emu/*
02-bloom/build/generic_buffer/kernel_16/hw_emu/*
02-bloom/build/generic_buffer/kernel_16/hw/*_dir/*

02-bloom/build/sw_overlap/kernel_4/sw_emu/*
02-bloom/build/sw_overlap/kernel_4/hw_emu/*
02-bloom/build/sw_overlap/kernel_4/hw/*_dir/*

02-bloom/build/sw_overlap/kernel_8/sw_emu/*
02-bloom/build/sw_overlap/kernel_8/hw_emu/*
02-bloom/build/sw_overlap/kernel_8/hw/*_dir/*

02-bloom/build/sw_overlap/kernel_16/sw_emu/*
02-bloom/build/sw_overlap/kernel_16/hw_emu/*
02-bloom/build/sw_overlap/kernel_16/hw/*_dir/*

02-bloom/makefile/.ipcache/*
02-bloom/makefile/.Xil/*