absl-py==1.3.0
brevitas==0.7.1
cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.12
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cyvlfeat==0.4.6
dataclasses @ file:///tmp/build/80754af9/dataclasses_1614363715916/work
dependencies==2.0.1
finn==0.0.1
future-annotations==1.0.0
google-auth==2.14.1
google-auth-oauthlib==0.4.6
grpcio==1.48.2
idna==3.4
importlib-metadata==4.8.3
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
kiwisolver @ file:///C:/ci/kiwisolver_1612282446297/work
Markdown==3.3.7
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1603480701039/work
oauthlib==3.2.2
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
onnx==1.11.0
onnxoptimizer==0.2.7
packaging==21.3
pandas==1.1.5
Pillow @ file:///C:/ci/pillow_1625670739152/work
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2022.6
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn @ file:///C:/ci/scikit-learn_1598358870446/work
scipy==1.1.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tokenize-rt==4.2.1
torch==1.10.2
torch-tb-profiler==0.4.0
torchaudio==0.10.2
torchsummary==1.5.1
torchvision==0.11.3
tornado @ file:///C:/ci/tornado_1606942379977/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3==1.26.13
Werkzeug==2.0.3
wincertstore==0.2
zipp==3.6.0
